# ------------------------------
# Node / General
# ------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp.*
.pnpm-debug.log*
.DS_Store
Thumbs.db

# ------------------------------
# Environment Files
# ------------------------------
# Keep only the example
cypress.env.json
.env
.env.local
.env.*.local
# ------------------------------
# Cypress Artifacts
# ------------------------------
cypress/screenshots/
cypress/videos/
cypress/results/
cypress/reports/
cypress/downloads/
cypress/logs/
cypress/output/

# ------------------------------
# Allure
# ------------------------------
allure-results/
allure-report/
allure-history/

# ------------------------------
# Logs / Temp
# ------------------------------
log/
logs/
*.log
local.log
debug.log
results/
tmp/
temp/

# ------------------------------
# Cucumber
# ------------------------------
cucumber-json/
*.cucumber

# ------------------------------
# Build / Cache
# ------------------------------
build/
dist/
build_artifacts/
.cache/
coverage/

# ------------------------------
# BrowserStack
# ------------------------------
bstackPackages.tar.gz
tmpBstackPackages
browserstack-reports/

# ------------------------------
# Archives
# ------------------------------
*.zip
tests.zip
*.tar
*.tar.gz
